.box-name{
    height: 20px;
    text-align: center;
    background-color: lightblue;
    margin: 2px 2px;
    float: left;
}

.close-box-name{
    color: red;
    font-weight: 600;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}


#container-pop-name{
    width: 380px;
    min-height: 50px;
    height: fit-content;
    border: 1px solid lightslategray;
    padding: 2px;
}

#container-pop-json{
    width: fit-content;
}

#gen-json-pop{
    float: right;
}

#adjust-container-pop{
    display: inline-flex;
}

#pop-name-country{
    height: 26px;
}

caption.info{
    color: black;
    background-color: white;
}

select{
    max-width: 200px;
}

.select-table{
 width: 200px;
 position: relative;
 margin-left: 5px;
}

td.select-item{
    display: none;
}

.select-table td:hover{
    background-color: #ccc;
}

.select-table caption{
    height: 20px;
    border: 1px solid #ddd;
    padding: 0px 3px;
}

span.selected-value{
    display: inline-block;
    max-width: 155px;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -1.5px;
}

.invisible{
    display: none;
}

.table-visible{
    display: table-row-group;
}

.select-table caption .glyphicon-triangle-bottom{
    top: 4px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
    font-size: 12px;
}

.cont-selec-table{
    display: inline-flex;
}

.body-table-selecet{
    position: absolute;
    background: white;
    width: 100%;
    z-index: 50;
}

.body-table-selecet tr{
    display: table;
    width: 100%;
}

.pagination {
    margin: 0px;
    vertical-align: middle;
}

tfoot{
    position: absolute;
    background: #ccc;
    width: 100%;
    z-index: 50;
    top: 420px;
    /*padding: 0px 15px;*/
    border: 1px solid #ccc;
    height: 28px;
    max-height: 53px;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }