.box-name{
    height: 20px;
    text-align: center;
    background-color: lightblue;
    margin: 2px 2px;
    float: left;
}

.close-box-name{
    color: red;
    font-weight: 600;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}


#container-pop-name{
    width: 380px;
    min-height: 50px;
    height: fit-content;
    border: 1px solid lightslategray;
    padding: 2px;
}

#container-pop-json{
    width: fit-content;
}

#gen-json-pop{
    float: right;
}

#adjust-container-pop{
    display: inline-flex;
}

#pop-name-country{
    height: 26px;
}

select{
    max-width: 200px;
}

.select-table{
 width: 200px;
 position: relative;
}

td.select-item{
    width: 10px;
}

.select-table caption{
    border: 1px solid #ddd;
    background-color: aliceblue;
    font-weight: 600;
    padding: 0px 5px;
}

.invisible{
    display: none;
}

.table-visible{
    display: table-row-group;
}

.select-table caption .glyphicon-triangle-bottom{
    top: 4px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.cont-selec-table{
    display: inline-flex;
}

.body-table-selecet{
    position: absolute;
    background: white;
    width: 100%;
    z-index: 50;
}

.body-table-selecet tr{
    display: table;
    width: 100%;
}

.pagination {
    margin: 0px;
    vertical-align: middle;
}

.uk-pagination{
    position: relative;
    width: 100%;
}

.uk-pagination li{
    display: table-cell;
}

tfoot{
    position: absolute;
    background: #ccc;
    width: 100%;
    z-index: 50;
    top: 420px;
    /*padding: 0px 15px;*/
    border: 1px solid #ccc;
    height: 28px;
    max-height: 53px;
}